<% if park.photo.attached? %>
  <%= cl_image_tag park.photo.key, height: 121, crop: :fill %>
<% else %>
  <%= image_tag('dog-park.png', height: 121, crop: :fill) %>
<% end  %>
<h2 class="info-header"><%= park.name %></h2>
<h3 class = "pclass3"><strong><%= pluralize park.dogs.count, "dog" %></strong> in this park now</h3>
<%= link_to 'View Park', park_path(park), class: "btn1", style: "margin: 18px;" %>
    <p><span>
    <br>
    <% park.average_rating.to_i.times{  %>
    ⭐
    <% } %>
    </span></p>
