
<div class="container">

  <h1 style="text-align: center; color: black; margin-top: 110px;"><strong><%= @park.name %></strong></h1>
  <%= link_to "park's chat", park_chat_path(@park) %>
  <% @park.dogs.each do |dog| %>
    <%= render "dog_park", dog: dog %>
  <% end %>
  <div class = 'buttons-container'>
    <button class="btn1" style="margin-left: 10px;"><%= link_to 'Attend', dashboard_path %></button>
    <button class="btn1" style="margin-left: 10px;"><%= link_to 'chat', root_path %></button>
    <button class="btn1" style="margin-left: 10px;"><%= link_to 'Back', root_path %></button>
  </div>
</div>
