
<div class="container">
  <h1 class="page-header"><strong class="color-purple"><%= @park.name %></strong></h1>
  <% if @park.photo.attached? %>
    <%= cl_image_tag @park.photo.key, :width=>300, :height=>100, class: "park-img" %>
    <br>
    <br>
  <% else %>
    <%= image_tag('dog-park.png', height: 121, crop: :fill, class: "park-img") %>
  <% end  %>
  <%= link_to "park's chat", park_chat_path(@park), class: "btn1" %>
  <%= render "attend_button", park: @park, park_visit: @park_visit %>
  <% @park.dogs.each do |dog| %>
    <%= render "dog_park", dog: dog %>
  <% end %>
</div>
<div class= "container  ">
<h3>Reviews</h3>
<%= link_to "leave a review",  new_park_park_review_path(@park), class: "btn1" %>
<% @park.park_reviews.each do |review| %>
  <div class="review card-review">
    <p><span><% x = review.rating  %>
    <% x.times {  %>
    ⭐
    <% } %>
    </span></p>
    <p><%= review.review %></p>
  </div>
<% end %>
</div>
