<div class="form">
  <div id="form-container">
    <%= simple_form_for(dog,  data: { 'add-dog-target': 'form' }) do |f| %>
      <div id="info">
        <%= f.input :name, input_html: { data: { 'add-dog-target': 'nameInput' }} %>
        <%= f.input :breed, input_html: { data: { 'add-dog-target': 'breedInput' }} %>
        <%= f.input :gender, input_html: { data: { 'add-dog-target': 'genderInput' }}%>
        <%= f.input :size, input_html: { data: { 'add-dog-target': 'sizeInput' }}%>
        <%= f.input :traits , value: "",input_html: { data: { 'add-dog-target': 'traitInput' }} %>
        <%= f.input :description, as: :text %>
        <%= f.input :main_photo, as: :file, input_html: { data: { 'add-dog-target': 'photoInput' }} %>
        <%= f.input :photos, as: :file %>
        <%= f.submit "Submit", class: "button" %>
      </div>
    <% end %>
  </div>
</div>
 <%# I think we should use the main_photo %>
