<div class="container">
  <%# <h1>DashBoard</h1> %>
  <h2 class="hello">Hello <%= @user.name %>!</h2>
  <%= image_tag "dwdog.jpeg", class: "profilepic" %>
  <div class="usercard">
  </div>

  <div class="container dogs">
    <h4>Doggos:</h4>
    <% @user_dogs.each do |dog| %>
      <%= render "parks/dog", dog: dog %>
    <% end %>
  </div>

  <%= link_to 'Add a dog', new_dog_path, :class => "btn1" %>

  <div class="container friends">
    <h4>Friends:</h4>
    <div class="friends-grid">
      <div class="card-friend">
        <%= image_tag "luke-profile.jpeg" %>
        <div class="card-friend-infos">
          <p>Luke</p>
        </div>
      </div>
      <div class="card-friend">
        <%= image_tag "ofek-profile.jpeg" %>
        <div class="card-friend-infos">
          <p>Ofek</p>
        </div>
      </div>
      <div class="card-friend">
        <%= image_tag "deborah.jpeg" %>
        <div class="card-friend-infos">
          <p>Deborah</p>
        </div>
      </div>
    </div>
  </div>
</div>
